<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <title>Create Event</title>
</head>
<body>
    <legend class="mb-3">Create Event</legend>
    <div>
        {% if form.errors %}
        <div class="alert alert-danger">
            {{ form.errors }}
        </div>
        {% endif %}
    </div>
    <div>      
        <form method="POST">
            {% csrf_token %}
            <ul class="form-style-1">
                <li>
                    <label>Title <span class="required">*</span></label><br>
                    <input type="text" name="title" value="{{form.title.value}}" required/>
                </li>
                <li>
                    <label>Location </label><br>
                    <input type="text" name="location" value="{{form.location.value}}" class="field-long"/> 
                </li>
                <li>
                    <label>Description </label><br>
                    <textarea name="description" class="field-long field-textarea">{{form.description.value}}</textarea>
                </li>
                <li>
                    <label>Date time start <span class="required">*</span></label><br>
                    <input type="datetime-local" name="date_time_start" value="{{form.date_time_start.value}}" required/> 
                </li>
                <li>
                    <label>Date time end <span class="required">*</span></label><br>
                    <input type="datetime-local" name="date_time_end" value="{{form.date_time_end.value}}" required/> 
                </li>
                <li>
                    <label>Color <span class="required">*</span></label><br>
                    {{form.color}}
                </li>

                <br>
                <input type="submit" value="Submit" />
            </ul>
            </form>
        {% if messages %}
        {% endif %}
    </div>
</body>
</html>
