{% extends "base.html" %}

{% block head-content %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css">

    {% load static %}
    <link href="{% static 'events/meeting_vote.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock %}

{% block body-content %}

    <div class="container">
        <div class="header">
            <h2>{{ title }}:</h2>
        </div>

        <form method="POST" id="form" class="form">
            {% csrf_token %}

            {{ form.management_data }}

            <input type="hidden" name="form-TOTAL_FORMS" value="3" id="id_form-TOTAL_FORMS">
            <input type="hidden" name="form-INITIAL_FORMS" value="0" id="id_form-INITIAL_FORMS">
            <input type="hidden" name="form-MIN_NUM_FORMS" value="0" id="id_form-MIN_NUM_FORMS">
            <input type="hidden" name="form-MAX_NUM_FORMS" value="1000" id="id_form-MAX_NUM_FORMS">

            <div class="form-control">
                {% load events_extras %}
                {% for field, date in form|zip:meetings_dates %}
                    {% for f in field %}
                        <p> {{ f }} {{ date }} </p>
                    {% endfor %}
                {% endfor %}
            </div>

            <input type="submit" class="button" name="submit" value="vote" />
        </form>
    </div>
{% endblock %}
