{% extends "base.html" %}

{% block head-content %}

    {% load static %}
    <link href="{% static 'update_profile/update_form.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://kit.fontawesome.com/ca9581fda8.js" crossorigin="anonymous"></script>
{% endblock %}

{% block body-content %}
    <div class="container-shadow"></div>
    <div class="container">
        <div class="wrap">
            <div class="headings">
                <a id="create-event" class="active"><span>Update Profile:</span></a>
            </div>
            <div id="create-event-form">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    
                    {{ form }}

                    <input type="submit" class="button" name="submit" value="Submit" />
                </form>
            </div>
        </div>
    </div>
{% endblock %}
