{% extends "base.html" %}

{% block head-content %}
    <meta charset="utf-8"/>
    <title>Lets-Meet</title>
    <meta content="Lets-Meet" property="og:title"/>
    <meta content="Lets-Meet" property="twitter:title"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>

    {% load static %}
    <link href="{% static 'user_site/home.css' %}" rel="stylesheet">
    <link href="{% static 'user_site/day_view.css' %}" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.lordicon.com//libs/frhvbuzj/lord-icon-2.0.2.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/4.0.2/bootstrap-material-design.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    {% load static %}
    <link href="{% static 'site_notification/notification.css' %}" rel="stylesheet">

    <script>
        function get_hours() {
            return '            {% for hour in hours %}' +
                   '                <div class="dayview-timestring-container">' + 
                   '                    <div class="dayview-timestring">' +
                   '                        {{ hour }}:00' +
                   '                    </div>' +
                   '                </div>' +
                   '            {% endfor %}'
        }

        function get_grid(date) {
            return '                {% for hour in hours %}' +
                   '                    <div class="dayview-grid-tile"></div>' +
                   '                {% endfor %}'
        }

        $(document).ready(function(){
            const TIMEOUT = 10000;

            vote_url = "{% url 'meeting_vote' meeting_id=1 %}";
            get_notification = "{% url 'get_notification' %}";
            seen_notification = "{% url 'seen_notification' notification_id=1 %}";

            build_table();
            setInterval(build_table, TIMEOUT);
        });
    </script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    {% if messages %}
        <script>
            function show_messages() {
                let title = "{% for message in messages %} {{ message.extra_tags }} {% endfor %}".split(" ")[1];
                if (title !== "None") {
                    title = "Meeting Has Been " + title + " Successfully";
                }
                else {
                    title = "Welcome";
                }

                Swal.fire({
                    title: title,
                    width: '43%',
                    html:  '{% for message in messages %}' +
                                '{{ message }}<br>' +
                            '{% endfor %}',
                });
            }

            
            $(document).ready(function() {
                show_messages();
            })
        </script>
    {% endif %}

{% endblock %}

{% block body-content %}

    <div>
        <h3 id="user-name"> Welcome {{ user.username }}: </h3>
        <a href="{% url 'update-user' %}">
            <img id="user-profile" src="{{ user.profile_pic.url }}" width="50" height="50">
        </a>
        <div class="wrapper">
            <div class="notification">
                <i class="fa fa-bell-o" onclick="open_notification_bar()" id="bell">
                    <span class="badge" id="notification-badge"></span>
                </i>
            </div>
            <div class="notification-dropdown dd" id="dropdown">
                <div class="arrow-up"></div>
                <div class="header">
                    <div class="container">
                        <div class="text fl">Notifications</div>
                    </div>
                </div>
                <div class="items" id="notification-table">
                </div>
            </div>
        </div>
    </div>
    <div id="overlay"></div>
    <h1 class="main-title" style="font-family: 'Bodoni Moda', serif;">{{ month_name }} - {{ current_year }}</h1>
    <div style="display: inline;">
        <div class="table-icon" id="right-arrow">
            <span class="dot">
                <a href="/main/{{ next_date }}" style="color: black;" id="next_month">
                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </a>
            </span>
        </div>
        <div class="table-icon" id="left-arrow">
            <span class="dot">
                <a href="/main/{{ previous_date }}" style="color: black;" id="previous_month">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                </a>
            </span>
        </div>
        <div class="table-icon" id="plus">
            <span class="dot">
                <a href="{% url 'create_event' %}" style="color: black;" id="create_event">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </a>
            </span>
        </div>
        <div class="table-icon" id="plus">
            <span class="dot">
                <a href="{% url 'create_meeting' %}" style="color: black;" id="create_meeting">
                    <i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
                </a>
            </span>
        </div>
    </div>
    <table class="table table-fill" style="width: 90%; height: 95%;">
        <thead>
            <tr>
                {% for day in week_days %}
                    <th class="text-center" style="width: 14.28%;">{{ day }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody class="table-hover" id="tbody-main">
            {% for row in calendar %}
                <tr>
                    {% for day in row %}
                    <td class="text-center" style="position: relative; height: {{ max_height }}vh; 
                                                   {% if current_date.1 == day.1 and current_date.2 == day.2 %} border-style:solid; border-color: red; 
                                                   {% else %} border-right: 1px solid #C1C3D1; {% endif %}"
                                                   onclick="day_view('{{ day.2 }}/{{ day.1 }}/{{ day.0 }}')">
                        <div style="cursor: pointer;">
                            <p style="color: black; float: left;
                                {% if current_date.1 == day.1 and current_date.2 == day.2 %}  color: red; {% endif %}
                                {% if current_date.1 == day.1 %}  font-weight: bold; {% endif %}">
                                {{ day.2 }}
                            </p>

                            {% for event in current_events %}
                                {% if event.date_time_start.year <= day.0 and event.date_time_start.month <= day.1 and event.date_time_start.day <= day.2 %}
                                    {% if event.date_time_end.year >= day.0 and event.date_time_end.month >= day.1 and event.date_time_end.day >= day.2 %}
                                        <a id="link" >
                                            <div class="square" id="event{{ event.id }}"
                                                style="background-color: {{ event.color }}; margin-left: 5%">
                                                {{ event.title }}
                                            </div>
                                        </a>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                            {% for event in current_meetings %}
                                {% if event.date_time_start.year <= day.0 and event.date_time_start.month <= day.1 and event.date_time_start.day <= day.2 %}
                                    {% if event.date_time_end.year >= day.0 and event.date_time_end.month >= day.1 and event.date_time_end.day >= day.2 %}
                                        <a id="link" >
                                            <div class="square" id="event{{ event.id }}"
                                                style="background-color: {{ event.color }}; margin-left: 5%">
                                                {{ event.title }}
                                            </div>
                                        </a>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                            {% for event in all_possible_dates %}
                                {% if event.date_time_start.year <= day.0 and event.date_time_start.month <= day.1 and event.date_time_start.day <= day.2 %}
                                    {% if event.date_time_end.year >= day.0 and event.date_time_end.month >= day.1 and event.date_time_end.day >= day.2 %}
                                        <a id="link" >
                                            <div class="square" id="event{{ event.id }}"
                                                style="outline: 4px solid {{ event.color }}; color: black; margin-left: 5%">
                                                {{ event.title }}
                                            </div>
                                        </a>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            </div> 
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        tippy('#next_month', {
          content: 'Next Month',
        });
        tippy('#previous_month', {
          content: 'Previous Month',
        });
        tippy('#create_event', {
          content: 'Create New Event',
        });
        tippy('#create_meeting', {
          content: 'Create New Meeting',
        });
        tippy('#admin', {
          content: 'Admin Page',
        });
      </script>

    {% load static %}
    <script src="{% static 'user_site/home.js' %}"></script>
    <script src="{% static 'site_notification/notification.js' %}"></script>
{% endblock %}
