@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");

body{
	background-color: rgb(2, 68, 68);
	color: white;
	font-family: 'Roboto', sans-serif,Trebuchet MS;
}

.dow-list__item {
  border-radius: var(--radius-md);
  background: var(--color-bg-light);
  box-shadow: var(--inner-glow), var(--shadow-xs);
}

.PostContent {
display: flex;
flex-direction: column;
align-items: center;
margin-left: auto;
max-width: 103%;
margin-right: auto;
max-width: 24em;
box-shadow: 0px 0px 25px 0px rgba(15, 15, 15, 0.2);
border-radius: 23px;
border: 1px;
padding-bottom: 2%;
border-color: black;
padding: 72px;
color: black;
background-color: white;
width: 36%;
height: 0px;
margin-bottom: 1%;
}
.FileName{
padding: 26px;
margin-top: -10%;
padding-right: 60%;
font-size: 98%;
}
.DownloadButton{
padding: 27px;
margin-top: -21%;
padding-left: 87%;
font-size: 98%;
}
.fa-circle-down{
color:black
}
.fa-circle-down:hover {
  color: blue;
}

input[name=participant_id] {
visibility: hidden;
}




