@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");

* {
  transition: 0.1s ease;
}

body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    background: url("https://images.unsplash.com/photo-1506784983877-45594efa4cbe?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2668&q=80") ;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    background-repeat: repeat;
    margin: 0;
}


a {
  text-decoration: none;
}

.container-shadow {
  position: absolute;
  width: 600px;
  height: 900px;
  left: 48%;
  margin-left: -262.5px;
  margin-top: 8vh;
  box-shadow: 0px 30px 50px -20px #000;
}

.container {
    position: absolute;
    width: 600px;
    height: fit-content;
    min-height: 900px;
    max-height: 900px;
    margin-top: 10%;
    background: linear-gradient(90deg, #29323c 0%, #3b4249 100%);
    scrollbar-color: #aae0f0  lightgray;
    scrollbar-width: thin;
    box-shadow: 0px 0px 50px -20px #000;
    overflow-y: auto;
    color: white;

}

.wrap {
  position: relative;
  width: 400px;
  margin: 0 auto;
}

.scroller {
    width: 300px;
    height: 100px;
    overflow-y: scroll;
}

#uploadFile{
    background:white;
    color: #909090;
    margin-right: 10px;
}

.title{
    position: relative;
    margin: 90px auto 70px;
    color: rgba(255, 255, 255, 1);
    padding-bottom: 10px;
    display: inline-block;
    letter-spacing: 1px;
    border-bottom: solid 4px #aae0f0;
    box-shadow: 0 5px 5px -5px #1d2124;
}

.title:hover {
    color: rgba(255, 255, 255, 1);
}

.PostContent {
    display: grid;
    background: rgba(255, 255, 255, 1);
    width: fit-content;
    min-width: 400px;
    height: 1px;
    align-items: center;
    border-radius: 23px;
    padding: 33px;
    margin-bottom: 4%;
    color: black;
    margin-left:-7%
}

.attribute{
     margin: -24px;
}

.FileName{
    font-weight: 700;
    margin-top: 2%;
    font-size: 98%;
    margin-right: 74%;
    position: absolute;
}

.event_files{
    font-family: "Montserrat", sans-serif;
}

.fa-circle-down{
    color:black;
    margin-left: 282px;
}
.fa-trash-can{
    color: #E34724;
    margin-left: 5px;
}


.fa-trash-can:hover {
    color: #8B0000;
    cursor: pointer;
}

.fa-circle-down:hover {
    color: #aae0f0;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    display: inline;
    margin: 10px;
}
input {
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: transparent;
    padding: 10px 20px;
    border: none;
    border-bottom: 2px solid #1d2124;
    outline: none;
    box-sizing: border-box;
    margin-bottom: 10px;
}

fieldset{
    border: none;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    background: rgba(255, 255, 255, 1);
    opacity: 0;
}

#uploadBtn{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
}
#uploadBtn:hover {
    background: #58d15d;
    box-shadow: 0 0 10px #58d15d 0 0 30px #58d15d, 0 0 50px #58d15d;
}
#fileInput{
    visibility: hidden;
}


.form-group
{
    display: contents;
}

.button {
    width: 100%;
    background: #aae0f0;
    color: #2c353e;
    text-transform: uppercase;
    margin-top: 2em;
    padding: 12px;
    font-size: 14px;
    cursor: pointer;
    border: 2px solid transparent;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
}
.hidden{
    visibility:hidden
}

.button:hover {
    background: #aae0f0;
    box-shadow: 0 0 10px #aae0f0, 0 0 30px #aae0f0, 0 0 50px #aae0f0;
}
