@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");

body{
	background-color: rgb(2, 68, 68);
	color: white;
	font-family: 'Roboto', sans-serif,Trebuchet MS;
}

.id-input{
	height: 2.1em;
    border-radius: 3px;
    transition: border 0.4s ease-out;
    padding: 13px;
    font-family: Oxygen, sans-serif;
    font-size: 19px;
    color: #3e3e42;
	width: 10%;



}
.manage-button{
	color: black;
	padding: 8px 20px;
    border-radius:4px;
	margin-left: 5%;
	margin-top: 5%;
    outline: none;
    border: none;
    cursor: pointer;
}


.msg-input{
	height: 2.1em;
    border-radius: 3px;
	background-color: white;
    border: 1px solid #61dbfb;
    transition: border 0.4s ease-out;
    padding: 13px;
    font-family: Oxygen, sans-serif;
    font-size: 19px;
    color: #3e3e42;
	width: 50%;
}


.root-container{

	text-align: center;
}


.CreatePost{
	padding-top: 3%;


}
.approve-button{
	padding: 8px 20px;
    border-radius:4px;
	margin-left: 5%;
	margin-top: 5%;
    outline: none;
    border: none;
    cursor: pointer;
	background: green;
}
.suspend-button{
	padding: 8px 20px;
    border-radius:4px;
	margin-left: 5%;
	margin-top: 5%;
    outline: none;
    border: none;
    cursor: pointer;
	background: yellow;

}
.deleted-button{
	padding: 8px 20px;
    border-radius:4px;
	margin-left: 5%;
	margin-top: 5%;
    outline: none;
    border: none;
    cursor: pointer;
	background: red;

}


.PostList{
	padding-top: 5%;

}
.PostItem{
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	/* width: 550px; */
	border:5px #61dbfb solid;
	color: black;
	background-color: white;
}
.UserItem{
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
	width: 550px;
	border:5px #61dbfb solid;
	color: black;
	background-color: white;

	margin-left: auto;
	margin-right: auto;
    max-width: 32em;
    min-width: 21em;
    box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.2);
    border-radius: 6px;
	border: 1px;
	padding-bottom: 2%;
	border-color: #61dbfb;
    padding: 24px;
}
.MessageItem{
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
	width: 550px;
	border:5px #61dbfb solid;
	color: black;
	background-color: white;
}
.refresh-button{
	width: 74px;
	height: 74px;
	text-decoration: none;
	font-size: 111%;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.25);
	position: fixed;
	bottom: 3%;
	outline: none;
	border: none;
	cursor: pointer;
	border-radius: 50%;

}
.refresh-button:hover{
    transition: all 0.3s ease-out;
    background: #61dbfb;
    transition: 250ms;
}
.post-button{
	background-color: #39b54a;
	color: white;
	padding: 22px 20px;
    border-radius:4px;
	margin-left: 5%;
	margin-top: 5%;
    outline: none;
    border: none;
    cursor: pointer;

}
.manage-button:hover{
    transition: all 0.3s ease-out;
    background: #61dbfb;
    transition: 250ms;
}
.post-button:hover{
    transition: all 0.3s ease-out;
    background: #61dbfb;
    transition: 250ms;
}

.button-manager{
	padding-top: 5%;
}

.PostContent {
    display: flex;
    flex-direction: column;
	align-items: center;
	margin-left: auto;
	max-width: 103%;
	margin-right: auto;
    max-width: 24em;
    box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.2);
    border-radius: 6px;
	border: 1px;
	padding-bottom: 2%;
	border-color: #61dbfb;
    padding: 24px;
}
.PosterName {
    display: flex;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	right: 20%;
    max-width: 7em;
    min-width: 7em;
    box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.2);
    border-radius: 6px;
    padding: 13px;

	border-bottom: 2px solid #61dbfb;
}
