/**
* calender
* 
*/
body {
	background-color: grey;
}
.calender {
max-width: 62.5em;
margin: auto;
}
.calender__month {
background: #2f2f2f;
height: 100%;
}

.calender__day, .calender__day--empty, .calender__day--hidden {
background: rgba(255, 255, 255, 0.1);
flex: 1 1 0;
padding: 0.625em;
border: 0.0625em solid rgba(255, 255, 255, 0.2);
margin: 0.125em;
min-height: 8.75em;
}
.calender__day--hidden {
opacity: 0.3;
display: none;
}

.calender__day--empty {
display: none;
}

.calender__day .date, .calender__day--hidden .date, .calender__day--empty .date {
color: #ffffff;
display: inline-block;
padding: 0.625em 0 0.3125em 0;
}

@media screen and (min-width: 48em) {
.calender.cal-view .calender__week {
	display: flex;
}
}
.calender.cal-view .calender__day--hidden,
.calender.cal-view .calender__day--empty {
display: none;
}
@media screen and (min-width: 48em) {
.calender.cal-view .calender__day--hidden,
.calender.cal-view .calender__day--empty {
	display: block;
}
}
.calender .toggle {
display: none;
color: #ffffff;
text-decoration: none;
margin-bottom: 0.625em;
text-align: right;
}
@media screen and (min-width: 48em) {
.calender .toggle {
	display: block;
}
}

/**
* event-list
* 
*/
.event-list__event a {
font-size: 0.75em;
color: #ffffff;
text-decoration: none;
}
.event-list__event + .event-list__event {
margin-top: 0.625em;
}
