{% extends "base.html" %}
{% block head-content %}
    <script src="https://kit.fontawesome.com/ca9581fda8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'events/create_event.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'meetings/create_meeting.css' %}">
    <link href="{% static 'reminders/reminder_form.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
    <script src="https://kit.fontawesome.com/ca9581fda8.js" crossorigin="anonymous"></script>
        
    <title>Create Meeting </title>

    <script>
        $(document).ready(function() {
            total_meeting_dates_forms = "{{ total_meeting_forms }}";
            total_participant_forms = "{{ total_participant_forms }}";

            $("#id_optional_meetings-TOTAL_FORMS").val("{{ total_meeting_forms }}");
            $("#id_participants-TOTAL_FORMS").val("{{ total_participant_forms }}");
        })
    </script>
{% endblock %}

{% block body-content %}
<div class="container-shadow"></div>
<div class="container">
    <div class="wrap">
        <div class="headings">
            <a id="create-meeting" class="active">
                <span>{{ title }}:</span>
            </a>
            <i id="add_alert" class="material-icons">add_alert</i>
            {% if meeting_id %}
                <i id="remove_event" class="fa fa-trash-o" aria-hidden="true" onclick="delete_event('{{ meeting_id }}')"></i>
                <a href="{% url 'event_files' event_id=meeting_id %}" class="FileRef">
                    <i class="fa-solid fa-file fa-2x"></i>
                </a>
            {% else %}
                <a href="/main/"><i id="remove_event" class="fa fa-trash-o" aria-hidden="true"></i></a>
            {% endif %}
        </div>
        <form method="POST" >
            {% csrf_token %}
            {{create_event_form.as_p}}

            <br/>
            {% if optional_meetings_formset.non_form_errors %}
                {{ optional_meetings_formset.non_form_errors }}
            {% endif %}

            {% if optional_meetings_formset.errors %}
                {% for error in optional_meetings_formset.errors %}
                    {{ error|escape }}
                {% endfor %}
            {% endif %}

            {% if messages %}
                <ul class="errorlist">
                    {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <br/>
            <h4>More optional meeting dates:</h4>
            {{optional_meetings_formset.management_form}}
            <div id="optional-meeting-dates-form-list">
                {% if formset_meeting_data %}
                    {% for form in formset_meeting_data %}
                        <div id="form-{{form.id}}" class="optional-meeting-dates-form">
                            <p>
                                <label for="id_optional_meetings-{{form.id}}-date_time_start">Date time start:</label>
                                <input type="datetime-local" value="{{form.date_time_start}}" name="optional_meetings-{{form.id}}-date_time_start" id="id_optional_meetings-{{form.id}}-date_time_start">
                            </p>
                            <p>
                                <label for="id_optional_meetings-{{form.id}}-date_time_end">Date time end:</label>
                                <input type="datetime-local" value="{{form.date_time_end}}" name="optional_meetings-{{form.id}}-date_time_end" id="id_optional_meetings-{{form.id}}-date_time_end">
                            </p>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            
            <div id="empty-optional-meeting-dates-form" class="hidden">{{ optional_meetings_formset.empty_form.as_p }}</div>
            <button id="add-more-optional-meeting-dates" type="button" class="btn btn-dark">
                <i class='far fa-calendar-plus' style='margin-right: 10px; font-size:17px; color: black;'></i>
                Add another date
            </button>
            
            <br/>
            <br/>
            {% if meeting_participants_formset.non_form_errors %}
                {{ meeting_participants_formset.non_form_errors }}
            {% endif %}

            {% if meeting_participants_formset.errors %}
                {% for error in meeting_participants_formset.errors %}
                    {{ error|escape }}
                {% endfor %}
            {% endif %}
            <br/>
            <h4>Participants:</h4>
            {{meeting_participants_formset.management_form}}
            <div id="meeting-participants-form-list">
                {% if formset_participant_data %}
                    {% for form in formset_participant_data %}
                        <div id="form-{{form.id}}" class="meeting-participants-form">
                            <p>
                                <label for="id_participants-{{form.id}}-participant_email">Participant email:</label>
                                <input type="email" value="{{form.email}}" name="participants-{{form.id}}-participant_email" id="id_participants-{{form.id}}-participant_email">
                            </p>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>

            <div id="empty-meeting-participants-form" class="hidden">{{ meeting_participants_formset.empty_form.as_p }}</div>
            <button id="add-more-meeting-participants" type="button" class="btn btn-dark">
                <i class="fas fa-user-plus" aria-hidden="true" style='margin-right: 10px; font-size:15px; color: black;'></i>
                Add more participants
            </button>
            
            <div id="reminder_form_attribute">
                <h3 style="color:white;"> Add Reminder: </h3>
                {{ reminder_form }}
            </div>

            <input type="submit" class="button" name="submit" value="{{ button_text }}" />
        </form>

    </div>
</div>

{% load static %}
<script src="{% static 'meetings/create_meeting.js' %}"></script>
<script src="{% static 'reminders/reminder_form.js' %}"></script>

{% endblock %}
