{% extends "base.html" %}
{% block head-content %}
    <title>Event files</title>
    {% load static %}
        <link href="{% static 'event_files/event_files.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'event_files/delete_pop_up.css' %}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://kit.fontawesome.com/ca9581fda8.js" crossorigin="anonymous"></script>
        <script src="{% static 'event_files/event_files.js' %}"></script>


{% endblock %}

{% block body-content %}
<div class="event_files">
<center>
<div class="container-shadow">
     <div class="container">
        <div class="wrap">
            <!-- this dialog box is responsible for the delete confirmation pop up. -->
            <div id="dialogoverlay"></div>
            <div id="dialogbox">
              <div>
                <div id="dialogboxhead"></div>
                <div id="dialogboxbody"></div>
                <div id="dialogboxfoot"></div>
              </div>
            </div>
            <h1 class="title" > {{event.title}} files:</h1>
            <div class="file-list">
                {% for file in files %}
                    <div class='PostContent'>
                        <span class="attribute">
                            <h2 class="FileName" >{{file}}</h2>
                            <a href="download/?event={{event.id}}&file_name={{file}}"download="{{file.adminupload.url}}" class="DownloadButton">
                            <i class="fa-solid fa-circle-down fa-2x" aria-hidden="true"></i>
                            </a>
                            {% if is_event_creator or file.participant_id.id is user_participant.id %}
                            <a>
                            <i id="DeleteButton" class="fa-solid fa-trash-can fa-2x" aria-hidden="true" onclick="Confirm.render('delete {{file}}','{{event.id}}','{{file.id}}')"></i>
                            </a>
                            {% endif %}
                        </span>
                    </div>
                {% empty %}
                <h2>No files exist</h2>
                {% endfor %}
            </div>


            <form action="./{{event.id}}" class="form" id="form1" method="POST" enctype="multipart/form-data">
            <fieldset class="form-group">
            {% csrf_token %}
            <div class="fileUpload">
                <input id="uploadFile" placeholder="No file selected" disabled="disabled"/>
                <span id="uploadBtn">Upload</span>
                <input id="fileInput" type="file" name="{{form.file.name}}" class="upload" style="visibility: hidden;"/>
            </div>
            </fieldset>

            <div class="form-group">
            <button id="submitBtn" class="hidden" type="submit">Save</button>
                </div>
            </form>
        </div>
     </div>
</div>
</center>
</div>
{% endblock %}
